.header{
    height: 4rem;
    z-index: 997;
    top: 0;
    padding: 1em;
    background-color: #371B58;
    color: var(--second-color);
}

.header h1{
    margin: 0;
    text-align: center;
}

.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25vw;
    overflow-y: auto; /* en y necesito que se adapte, genera barra de scroll*/
    background-color: #4C3575;
    transform: translate(-100%,0);
    transition: transform .3s ease;
}

.panel-btn{
    position: fixed;
    z-index: 999;
    top: 0;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#hamburger-inner,#hamburger-inner::before,#hamburger-inner::after{
    background-color: #b988ff;
}

.panel.is-active{
    transform: translate(0,0);
}

.menu{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.list{
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}

.list:hover{
    background-color: #5B4B8A;
}

.btnAddList{
    width: 3rem;
    float: right;
    cursor: pointer;
}
.btnAddList:hover{
    filter: opacity(0.7);
}

.btnCerrarSesion{
    color: rgb(255, 175, 175);
    text-decoration: none;
    margin-top: 2rem;
    border-top: 2px solid #b988ff;
    border-bottom: 2px solid #b988ff;
}