.principal{
    width: 80vw;
    margin: auto;
}

/* LISTAS */

    /* Parte de arriba */
.list-section{
    border: 1px solid #371B58;
    background-color: #7858A6;
    padding: 0.4rem;
}

.btnOpenList{
    width: 1.8rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.btnOpenList:hover{
    transform: translateY(4px);
}

.list-title{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.btnAddTask{
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    color: #371B58;
}

.title-sin-resolver, .title-resolviendo{
    border-bottom: 1px dashed #371B58;
}

/* Parte intermediaria lista de tareas*/

.list-tasks{
    width: 90%;
    margin: auto;
}

.title-sin-resolver, .title-resolviendo, .title-resueltas{
    display: flex;
    justify-content: space-between;
}

.btnViewTasks{
    width: 1.6rem;
    cursor: pointer;
}
.btnViewTasks:hover{
    filter: opacity(.7);
}

/* Agregar listas */

.container-addList{
    width: 75vw;
    height: 100vh;
    margin-left: 25vw;

    position: absolute;
    top: 0;
}

.addList{
    width: 60%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;

    background-color: #4C3575;

    border-color: #371B58;
    border-style: solid;
    border-width: 0px 3px 3px 0px;
}

.addList form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.addList form input{
    font-size: 1.5rem;
}


.botones-add-task{
    display: flex;
    justify-content: center;
}


.div-deleteList{
    width: 100%;
    height: 1.6rem;
}

.div-deleteList img{
    width: 1.6rem;
    float: right;
    position: relative;
    right: -4vw;

    cursor: pointer;
}

/* TAREAS */
.task{    
    margin-top: -1px;
    background-color: #5B4B8A;
    border: 1px solid #371B58;
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 4px;
}

.task-principal{
    text-align: center;
    display: grid;
    grid-template-columns: 10% 50% 10% 20% 10%
}

.task-check{
    width: 100px;
}

.button-abrirDescription{
    width: 1.2rem;
}
/* .task-secondary{

} */

.task-secondary-final{
    display: flex;
    justify-content: space-between;
}

.button-abrirDescription{
    height: 50%;
    margin-top: 3%;
    cursor: pointer;
}

/* Agregar ------------------*/
.container-addTask{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #371B58;
}

.container-addTaskWithUser{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #371B58;
}

.addTask{
    width: 60vw;
    height: 80vh;
    background-color: white; 
    margin: auto;
    border: 4px solid #7858A6;
    min-width: 380px;
}

.addTask form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
}

.addTask form input{
    margin-bottom: 2rem;
}

.addTask form input:not(:last-child){
    font-size: 1.8rem;
    border: none;
    border-bottom: 2px solid #7858A6;
    outline: none;
}


/* RANGO */
input[type=range] {
    width: 200px;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    /*extra*/
    display: block;
    margin: 10px 0 0 0;
    position: relative;
  }
  
  input[type=range]::before,
  input[type=range]::after {
    display: inline-block;
    position: absolute;
    bottom: -5px;
    color: #888;
  }
  
/*   input[type=range]::before {
    content: attr(min);
    left: 0;
    
    transform: translate(calc(-100% - 5px))
  }
  
  input[type=range]::after {
    content: attr(max);
    right: 0;
    
    transform: translate(calc(100% + 5px))
  } */
  
  /* input[type=range]::-moz-range-track,  */
  /* input[type=range]::-ms-track */
  input[type=range]::-webkit-slider-runnable-track {
    background: #222;
    height: 5px;
    -webkit-appearance: none;
  }
  
  /* input[type=range]::-moz-range-thumb */
  /* input[type=range]::-ms-thumb */
  input[type=range]::-webkit-slider-thumb {
    border: none;
    box-shadow: none;
    height: 20px;
    width: 10px;
    background: #7858A6;
    -webkit-appearance: none;
    margin: -7px 0 0 0;
    outline: none;
  }
  
  .custom-range-slider {
    position: relative;
    padding-bottom: 30px;
    color:green
  }
  
  .custom-range-slider .bubble {
    padding: 5px;
    background: #999;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    transition: background 0.3s ease;
  }
  
  .custom-range-slider:hover .bubble {
    background: #7858A6;
  }
/* ----------- */

/* text area description */
.addTask form textarea{
    font-size: 1.2rem;
    border: 2px solid #7858A6;
    resize: none;
    padding: 0.5rem;
    outline: none;
}

/* div-check CHECK BOX Y RELOJ ARENA*/
.div-check{
    display: flex;
}

.div-check .checkTask{
    width: 20px;
}
.div-check .relojProcess{
    width: 30px;
    cursor: pointer;
}

/* Task options */
.btnAbrirOptions{
    cursor: pointer;
    width: 30px;
}

.task-options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: -0.4vw;
    top: -0.5rem;
}

.task-optionsDelete{
    width: 100%;
    background-color: #3b2b51;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -9px;
    left: 8.3vh;
    height: 0;
}

.btnDelete{
    border: 2px solid #371B58;
    background-color: rgb(181, 3, 3);
    color: white;
    padding: 4px;
    cursor: pointer;
    transition: transform .3s ease;
}

.btnDelete:hover{
    transform: scale(1.04);
}

/* Tarea resuelta */
.resuelta{
    background-color: #54B435;
}


/* Task references */
.taskReferences{
    text-align: center;
    display: grid;
    grid-template-columns: 10% 50% 12% 25%;
    background-color: #5B4B8A;
}

/* Add task a user */
#seleccionUserAddTask{
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0.4rem;
    text-align: center;
    border: 2px solid #7858A6;
    outline: none;

}