.principal{
    width: 80vw;
    margin: auto;
}

/* LISTAS */

    /* Parte de arriba */
.list-section{
    border: 1px solid #371B58;
    background-color: #7858A6;
    padding: 0.4rem;
}

.btnOpenList{
    width: 1.8rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.btnOpenList:hover{
    transform: translateY(4px);
}

.list-title{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.btnAddTask{
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    color: #371B58;
}

.title-sin-resolver, .title-resolviendo{
    border-bottom: 1px dashed #371B58;
}

/* Parte intermediaria lista de tareas*/

.list-tasks{
    width: 90%;
    margin: auto;
}

.title-sin-resolver, .title-resolviendo, .title-resueltas{
    display: flex;
    justify-content: space-between;
}

.btnViewTasks{
    width: 1.6rem;
    cursor: pointer;
}
.btnViewTasks:hover{
    filter: opacity(.7);
}


/* TAREAS */
.task{    
    margin-top: -1px;
    background-color: #5B4B8A;
    border: 1px solid #371B58;
    padding: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 4px;
}

.task-principal{
    display: flex;
    justify-content: space-between;
}

.task-check{
    width: 100px;
}

.button-abrirDescription{
    width: 1.2rem;
}
/* .task-secondary{

} */

.task-secondary-final{
    display: flex;
    justify-content: space-between;
}

.button-abrirDescription{
    height: 50%;
    margin-top: 3%;
    cursor: pointer;
}

/* Agregar ------------------*/
.container-addTask{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:4rem; 
    background-color: antiquewhite;
}

.addTask{
    width: 60vw;
    height: 80vh;
    background-color: white; 
    margin: auto;
    border: 2px solid black;
    min-width: 380px;
}

.addTask form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
}

.addTask form input{
    margin-bottom: 2rem;
}

.addTask form input:not(:last-child){
    font-size: 1.8rem;
    border: none;
    border-bottom: 2px solid blue;
}

/* text area description */
.addTask form textarea{
    font-size: 1.2rem;
    border: 2px solid blue;
    resize: none;
    border-radius: 10px;
    padding: 0.5rem;
}

.rango{
    width: 100%;
    cursor: pointer;
}

/* div-check CHECK BOX Y RELOJ ARENA*/
.div-check{
    display: flex;
}

.div-check .checkTask{
    width: 20px;
}
.div-check .relojProcess{
    width: 30px;
    cursor: pointer;
}

/* Task options */
.btnAbrirOptions{
    position: absolute;
    margin-top: -10px; 
    width: 80%;
    height: 1.5rem;
}

.btnAbrirOptions img{
    width: 1.5rem;
    float: right;
    cursor: pointer;
}

.task-options{
    position: relative;
    margin-top: -1.9rem;
    float: right;
}


/* Tarea resuelta */
.resuelta{
    background-color: #54B435;
}