doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/signin.css")
        title Iniciar Sesion
    body 
        main
            section.seccion-form 
                h2 Registrese
                form(action="/register" method="POST")
                    .valores
                        label(for="") Nombre:
                        input(type="text", name="name")
                        label(for="") Email:
                        input(type="email", name="email")
                        label(for="") Contraseña: 
                        input(type="password", name="password")
                    input(type="submit" value="Registrarse" id="btnRegister")
            footer 
                a(href="/login") Ir al inicio
